@charset "utf-8";
@import 'style.css';

#Wrapper_Body
{
	background : -webkit-linear-gradient(#60578e, #343240); /* For Safari 5.1 to 6.0 */
	background : -o-linear-gradient(#60578e, #343240); /* For Opera 11.1 to 12.0 */
	background : -moz-linear-gradient(#60578e, #343240); /* For Firefox 3.6 to 15 */
	background : linear-gradient(#60578e, #343240); /* Standard syntax */
}

/*______________BODY CONTENT CLASESS__________*/


/*_____________form classess________________*/
#myform
{
	margin : 0% 0px 0px 0%;
	width  : 100%;
}

.ulForm li
{
	border-left : thick solid #27cbc5; padding-left : 2%;
}

.ui-page-theme-a .ui-body-inherit, .ui-page-theme-a .ui-btn
{
	background-color : transparent !important;
	border           : none !important;
	box-shadow       : none !important;
	color            : #9696aa !important;
	text-shadow      : none !important;
	font-size        : 100% !important;
	font-weight      : 100 !important;
	height           : 40px !important;
}

.ui-shadow-inset
{
	box-shadow : none !important;
}

.ui-input-text input[type="text"], .ui-select
{
	box-shadow       : 0px !important;
	background-color : transparent !important;
	outline          : none !important;
	width            : 100%;
	font-size        : 180%;
	color            : #9696aa !important;
	text-shadow      : none !important;
	border-radius    : 0px;
	border-bottom    : thick solid #524b76 !important;
	height           : 40px !important;
}
.ui-btn-icon-right::after
{
	right: 1px;
}
.ui-checkbox
{
	height : 40px !important;
}

#privateLabel
{
	font-size : 180% !important;
	padding   : 6px 55px !important;
}

.submit img
{
	display : inline-block;
	width   : 47.5%;
}

.submit img:last-child
{
	margin-left : 5%;
}

#Continue_btn
{
	background-image : url("../img/continue-button-2.png");
	width            : 50%;
}

/*_____________end form classess________________*/
@media (min-device-width : 380px) and (max-device-width : 481px)
{
	.ui-checkbox, .ui-input-text input[type="text"], .ui-select,.ui-page-theme-a .ui-body-inherit, .ui-page-theme-a .ui-btn,#privateLabel
	{
		height           : 38px !important;
		font-size: 130% !important;
		padding-top: 1px;
		box-sizing: border-box;
	}

}
